html, body{
  height: 100%;
  width: 100%;
  background-color: #000000;
}



h1{color: #13BBBE;
   font-size: 10vw;
  /*font-size: 600%;*/
}



.Title{text-align: center; font-family: 'Rubik', sans-serif; display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000; height: 100%;
    width: 100%;
}



.content{
  display: none;
}

.pics{display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   align-content: flex-end;}

img{margin: 10px;}

}
